<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ocr-function-ai-grocery-bxgke3bjaedhckaz.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fb0cd0f2-2e8c-4ae7-ba8d-99fd413ddc77/resourceGroups/AI-Grocery/providers/Microsoft.Web/sites/ocr-function-ai-grocery</ResourceId>
    <UserName>$ocr-function-ai-grocery</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://ocr-function-ai-grocery-bxgke3bjaedhckaz.scm.eastus-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>